<element name="rpp-passphrase" extends="section">
  <template>
    <header class="gt-header">
      <a class="pp-link" href="#root">
        <span class="icon icon-close">back</span>
      </a>
    </header>
    <div class="gt-box">
      <div class="gt-picture"></div>
      <div class="gt-description">
        <h2>How to set your personal pass phrase?</h2>
        <p>
          Tap "Remote Privacy Protection" and set your passphrase to secure
          your remote features. If you have forgotten your actual passphrase
          you can reset it using your SIM pin or lockscreen pass code.
        </p>
      </div>
      <div class="gt-action">
        <a class="pp-link btn btn-blue" href="#rpp-explain">Back</a>
        <a class="pp-link btn btn-blue" href="#rpp-locate">Next</a>
      </div>
    </div>
  </template>
</element>
