<element name="rpp_ring" extends="section">
  <template>
    <header>
      <a class="pp-link" href="#root"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="guided-tour">Guided tour</h1>
    </header>
    <div>
      <div class="gt-picture"></div>
      <div class="gt-description">
          <h2 data-l10n-id="rpp-ring-header">How to ring your phone?</h2>
        <p data-l10n-id="rpp-ring-desc">
        It‘s easy! Just send an SMS with “RPP ring YOURPASSPHRASE” to your phone number and it will ring until you find it and unlock it.
        </p>
      </div>
      <div class="gt-action">
        <a class="pp-link btn back" href="#rpp_locate" data-l10n-id="back">Back</a>
        <a class="pp-link btn next" href="#rpp_lock" data-l10n-id="next">Next</a>
      </div>
    </div>
  </template>
</element>
